[submodule "deps/libpd"]
	path = deps/libpd
	url = https://github.com/libpd/libpd.git
[submodule "deps/concurrentqueue"]
	path = deps/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
