[submodule "deps/readerwriterqueue"]
	path = deps/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "deps/libpd"]
	path = deps/libpd
	url = https://github.com/libpd/libpd.git
